
@media(min-width:576px)and (max-width:767px){
    .ban-text-item h2 {
        font-size: 40px;
        line-height: 22px;
    }
    .ban-text-item h1 {
        font-size: 48px;
    }
    .ban-im-item img {
        width: 90%;
        transform: translate(100px);
    }
    .ban-im-item {
        transform: translate(0px);
    }
    .features-hading-text {
        transform: translate(0%);
    }
    .icon-item-one::after {
        display: none;
    }
    .icon-item-one::before {
        display: none;
    }
    .icon-item-two::after {
        display: none;
    }
    .icon-item-two::before {
        display: none;
    }

    .rendom{
        display: none;
    }
    .icon-item-three::after {
        display: none;
    }
    .icon-item-three::before {
        display: none;
    }
    .icon-item-four::after {
        display: none;
    }
    .icon-item-four::before {
        display: none;
    }
    .icon-item-one {
        margin-bottom: 27px;
    }
    .icon-item-two {
        margin-bottom: 27px;
    }
    .icon-item-three {
        margin-bottom: 27px;
    }
    #Qustion {
        margin-top: 100px;
        height: 100%;
    }
    .Qustion-text-hading h2 {
        text-align: center;
    }
    .Qustion-item {
        width: 100%;
        padding-bottom: 25px;
    }
    .subscribe-hading h2 {
        font-size: 41px;
    }
    .subscribe-hading p {
        text-align: center;
        padding-bottom: 15px;
    }
    .subscribe {
        width: 100%;
        height: 416px;
        margin-left: 0px;
    }

    #Vintage {
        margin-top: 50px;

    }
    .vintage-hading-item-text h2 {
        text-align: center;
    }
    .pulsing-play-button-maindiv {
        transform: translate(175px, -290px);
    }
    #Latest-Product {
        margin-top: 450px;
        margin-bottom: 1450px;
    }
    .product-top-im img {
        transform: translate(125px, 15px);
    }
    .hading-item-text p {
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 0px;
    }
    .plus-button {
        display: none;
    }
    .product-top-im {
        margin-bottom: 29px;
    }
    .traiprode {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .back {
        width: 80%;
        margin: 0 auto;
    }
    .traipord-sub-detail {
        margin-left: 79%;
        margin-top: -214px;
        margin-bottom: 34px;
    }
    .tripord-story h2 {
        text-align: center;
        padding-top: 12px;
    }
    .spacication-button {
        margin-bottom: 25px;
    }
    .Testimonial-hading p {
         padding: 0px;
    }
    #Testimonial{
        display: none;
    }
    .Latest-News-hading p {
        padding: 0px;
    }
    .b-logo img{
        transform: translate(172px, 0px);
    }
    .loc-item-one p {
        padding-left: 0px;
        padding-right: 226px;
    }
    .loc-item-tow p {
        padding-right: 140px;
    }
    .loc-item-three p {
        padding-right: 161px;
    }
    .product-bottom-im-two{
        margin-bottom: 25px;
    }
    #Tripod-Products {
        margin-top: 469px;
        height: 100%;
        background-color: #d9ecfe;
    }
    .stand-item{
        text-align: center;
        border: 1px solid #e4d9d9;
    }
    .stand-item img {
        margin-top: 21px;
        margin-bottom: 21px;
    }
}

@media (max-width: 575.99px){

    .navbar-expand-lg .navbar-nav .nav-link::after {
        display: none;
    }
    .search-icon{
        display: none;
    }
    .navbar-nav{
        background-color: #fff;
    }
    #banner {
        height: 550px;
    }
    .ban-text-item h2 {
        font-size: 30px;
        line-height: 9px;
    }
    .ban-text-item h1 {
        font-size: 35px;
    }
    .ban-im-item {
        transform: translate(0px, 1px);
    }
    .ban-im-item img {
        width: 100%;
        margin-top: 30px;
    }
    .baton {
        margin-top: 270px;
        position: absolute;
        font-size: 19px;
        padding: 5px 4px 5px 10px;
        margin-left: 27%;
    }
    #Features {
        margin-top: 70px;
    }
    .features-hading-text {
        text-align: none;
    }
    .features-hading-text {
        transform: translate(0%);
        text-align: center;
    }
    .icon-item-one {
        transform: translate(11px);
        margin-top: 32px;
    }
    .icon-item-one::after {
       display: none;
    }
    .icon-item-one::before {
       display: none;
    }
    .icon-item-two {
        text-align: end;
        transform: translate(11px);
    }
    .icon-item-two::after{
        display: none;
    }
    .icon-item-two::before{
        display: none;
    }
    .icon-item-three {
        transform: translate(12px);
    }
    .icon-item-three::after{
        display: none;
    }
    .icon-item-three::before{
        display: none;
    }
    .icon-item-four {
        text-align: end;
        transform: translate(11px);
    }
    .icon-item-four::after{
        display: none;
    }
    .icon-item-four::before{
        display: none;
    }
    .rendom {
	display: none;
    }
    #Tripod-Products {
     display: none;
    }
    #Qustion {
        margin-top: 840px;
    }
    .Qustion-text-hading{
        text-align: center;
    }
    .Qustion-text-hading h2 {
        font-size: 35px;
    }
    .subscribe {
        width: 100%;
        margin-left: 0px;
    }
    .subs {
        padding: 15px 105px 15px 80px;
    }
    .subscribe-hading p {
        padding: 15px 38px;
    }
    #Vintage {
        margin-top: 737px;
        
    }
    .vintage-hading-item-text h2 {
        font-size: 28px;
        text-align: center;
    }
    .pulsing-play-button-maindiv {
        transform: translate(70px, -200px);
    }
    .photography-item {
        position: relative;
    }
    .play-button{
        display: none;
    }
    .hading-item-text p {
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 0px;
        
    }
    #Latest-Product {
        margin-top: 150px;
    }
    .product-top-im {
        margin-bottom: 23px;
    }
    .product-bottom-im-two {
        margin-bottom: 20px;
    }
    .product-top-im img {
        transform: translate(-33px, 15px);
    }
    #Latest-News {
        margin-top: 1350px;
    }
    #Testimonial {
       display: none;
    }
    .plus-button{
        display: none;
    }
    .detail-traipord p, .traipord-sub-detail p {
        font-size: 13px;
    }
    .traipord-sub-detail{
        margin-left: 202px;
        margin-top: -176px;
    }
    .back {
        margin-top: 24px;
    }
    .Testimonial-hading p {
        padding: 0px;
    }
    .Latest-News-hading p {
        padding: 0px;
    }
    .social-icon-one{
        margin-left: 5px;
    }
    .sub-main-item {
        transform: scale(0.8);
        margin-left: -18px;
    }
    .sub-menu-fot-one {
        padding-right: 0px;
    }
    .sub-menu-fot-two {
        padding-right: 0px;
        padding-left: 0px;
    }
    .sub-menu-fot-three {
        padding-right: 0px;
        padding-left: 0px;
    }
    .sub-menu-fot-four {
        padding-right: 0px;
        padding-left: 0px;
    }
    .sub-menu-fot-five {
        padding-left: 0px;
    }
    .copy-main::after {
        left: 21px;
        width: 83%;
    }
    .copy-main h6 {
        padding-top: 5px;
        font-size: 10px;
    }
    .Qustion-item {
        width: 100%;
    }
    .copy-right {
        background-color: #111111;
        padding: 3px;
        margin-top: 5px;
        width: 100%;
    }
    .b-logo img {
      transform: translate(67px, 5px);
    }
    
}